.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container > div {
    margin: 10px;
}


.clr {
    border: none;
    outline: none;
    width: 90px;
    padding: 10px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0px 10px;
}

.clr:hover {
    background-color: white;
    color: orange;
    border: 2px solid orange;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

}